<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<!-- ConsoleOutput is set to be a ConsoleAppender -->
		<!--<appender name="ConsoleOutput" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%date{HH:mm:ss}] %-5level %-20.20logger - %message%newline" />
			</layout>
		</appender>-->

		<!-- FileOutput is set to be a RollingFileAppender -->
		<appender name="FileOutput" type="log4net.Appender.RollingFileAppender">
			<!--file configuration-->
			<file value="..\logs\log.log" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<datePattern value=".yyyy-MM-dd" />
			<preserveLogFileNameExtension value="true" />
			<staticLogFileName value="true" />
			<!--set the layout-->
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%date{HH:mm:ss}] %-5level %-20.20logger - %message%newline" />
			</layout>
		</appender>

		<!-- Set root logger level to ALL -->
		<root>
			<level value="ALL" />
			<!--<appender-ref ref="ConsoleOutput" />-->
			<appender-ref ref="FileOutput" />
		</root>
	</log4net>
</configuration>