[Unit]
Description=Wrapper application to manage multiple Minecraft servers and connect them to a discord bot
After=network.target

[Service]
Type=simple
SuccessExitStatus=
Restart=never
RestartSec=0
ExecStart=/usr/bin/harper/MinecraftServerApplication

[Install]
WantedBy=multi-user.target
