Package: harper
Version: 5.14.0
Architecture: all
Essential: no
Priority: optional
Depends: default-jre-headless
Maintainer: thepigeongenerator
Description: manages minecraft servers with a discord bot
